body {
    text-align: center;
    font-family: Arial;
}

.board {
    width: 480px;
    height: 480px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.board div {
    height: 60px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board div:nth-child(odd) {
    background-color: #f0d9b5;
}

.board div:nth-child(even) {
    background-color: #b58863;
}